body {
    background-image: url(/images/background.jpg);
    background-size: cover;
    font-family: 'Orbitron', sans-serif;
}

h1 {
    color: white;
    font-size: 48px;
    text-align: center;
} 

em {
    color: rgb(190, 67, 18);
}

h2 {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

a {
    text-decoration: none;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 15%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.avatar {
    border-radius: 10%;
    width: 200px;
}

.css-button-rounded--sand {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #adb5bd;
    background: #adb5bd;
  }
  .css-button-rounded--sand:hover {
    background: #fff;
    color: #adb5bd
  }

  .horizontal-center {
    display: flex;
    justify-content: center;
  }


  