body {
    background-color: #dee2e6;
    font-family: 'Orbitron', sans-serif;
}

h1 {
    color: #212529;
    font-size: 48px;
    text-align: center;
    margin-top: 8px;
} 

em {
    color: #495057;
}

h2 {
    color: #212529;
    text-align: center;
    margin-top: 8px;
}

p {
    color: #212529;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 16px;
}

a {
    text-decoration: none;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 15%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.avatar {
  border-radius: 10%;
  width: 200px;
}

.horizontal-center {
  display: flex; 
  justify-content: center;
}

.icon {
    font-size: 32px;
    color: #495057;
    margin: 0px 16px;
}

.icon:hover {
    color: #adb5bd;
}

.line-break {
    margin-top: 8px;
    border-top: 1px solid #495057;
}
